body { font-family: 'Aldrich', sans-serif; color: #ccc; background: #181818 url("../img/bg.jpg") left fixed no-repeat; }
#header, #content, #footer { margin-left: 0px;}
.azul { color:#00CD00; }
a { text-decoration: none; color:#00CD00; }
a:hover { text-decoration: underline; }