<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>Eventex</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/estilo.css" />

<link href='http://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="header">
<h1 align="center" class="red">Eventex</h1>
</div>
<div align="center" id="content">
<p>Bem vindo ao eventex........teste</p>
<p>opa!!!! <!-- <span class="azul">21/08/2011</span>-->
</p>
<p>Email:
<a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
</div>
<div id="footer">
<p></p>
</div>
</body>
</html>